<!-- http://codepen.io/salalaslam/pen/wajGMx -->

<div style="width: 1200px;">

    <div layout="row">
        <div flex="20">
            <md-button class="md-raised" ng-click="cancelEdit()" > Back </md-button>
        </div>
        <div  flex="60" align="center">
            <h2 align="center">{{tableTitle}}</h2>
        </div>
        <div flex="20" align="right">
            <md-input-container>
                <label>Language</label>
                <md-select ng-model="displayLanguage" ng-change="changeDisplayLanguage()">
                    <md-option ng-repeat="displayLanguage in displayLanguageChoices" value="{{displayLanguage}}">
                        {{displayLanguage}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>



    <md-tabs md-stretch-tabs="always" md-dynamic-height="" md-border-bottom="">
        <md-tab label="DEFINITION">
            <md-content class="md-padding">

                <div>
                    <p align="left"><b>{{tableTitle}}</b> {{lookupLabels(tableTitle).DISP}}</p>
                    <p align="left"><b>Class</b> {{DefinedEntryClass}}</p>
                    <p align="left"><b>Layer</b> {{DefinedEntry.LAYER}}</p>
                    <p align="left"><b>Cardinality</b> {{DefinedEntry.TAILLE}}</p>
                    <p align="left"><b>Is a Paradigm</b> {{DefinedEntry.PARADIGM}}</p>
                </div>

                <br/>


                <div ng-repeat="def in definitions">

                    <div layout="col" ng-show="def.visible">
                        <li style = "width:15%;padding-top: 2px;" >
                            {{def.reltype}}
                        </li>
                    </div>

                    <div ng-repeat="lnk in def.rellist" ng-show="def.visible">
                        <div layout="column" ng-show="lnk.exists">
                            <table>
                                <tr>
                                    <td style="width:400px;">
                                        <a style="border: none;" align="left" href="#/dicEdit/IEML/{{language}}/{{lnk.ieml}}" target="_self" ng-class="{disabled:!lnk.exists, buttonflat:lnk.exists, buttonflatdis:!lnk.exists}"   class="btn">{{lnk.ieml}}</a>
                                    </td>

                                    <td>
                                        <table>
                                            <tr> <p  align="left">{{lookupLabels(lnk.ieml).DISP}}</p></tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </md-content>
        </md-tab>

        <md-tab label="TABLE">
            <md-content class="md-padding">


                <div flex class="gridListDynamicTiles" ng-show="showTables" >
                    <md-tabs md-dynamic-height="" md-border-bottom="" ng-repeat="maintable in materialTables">
                        <md-tab label="{{subtable.tabTitle}}" ng-repeat="subtable in maintable.table" >
                            <md-content class="md-padding">
                                <md-grid-list md-cols="{{maintable.Col}}" md-row-height="100px" md-gutter="3px">
                                    <md-grid-tile ng-click="showLables(tile)" ng-repeat="tile in subtable.slice" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" style=" border-style: solid;
                    border-width: 1px; border-color: black;" ng-class="tile.background">

                                        <md-list-item ng-show="tile.editable" style="margin:0 0px 0 0px; padding:0 0px 0 0px">
                                            <div flex class="md-list-item-text" layout-fill>
                                                <p align="center">{{tile.value}}</p>
                                                <p ng-show="filterLanguage=='English'" align="center">{{tile.means.en}}</p>
                                                <p ng-show="filterLanguage!='English'"align="center">{{tile.means.fr}}</p>
                                            </div>
                                        </md-list-item>

                                        <md-list-item ng-show="tile.creatable" style="margin:0 0px 0 0px; padding:0 0px 0 0px">
                                            <div flex class="md-list-item-text ">
                                                <p align="center">{{tile.value}}</p>
                                            </div>
                                        </md-list-item>

                                    </md-grid-tile>
                                </md-grid-list>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>

                <div ng-show="!showTables">

                    <div ng-repeat="def in definitions | filter:filterContainedRelations()">

                        <div layout="col">
                            <li style = "width:15%;padding-top: 2px;" >
                                {{def.reltype}}
                            </li>
                        </div>

                        <div ng-repeat="lnk in def.rellist">
                            <div layout="column"  ng-show="(lnk.exists && lnk.visible)||showHidden">
                                <table>
                                    <tr>
                                        <td style="width:400px;">
                                            <a style="border: none;" align="left" href="#/dicEdit/IEML/{{language}}/{{lnk.ieml}}" target="_self" ng-show="(lnk.exists && lnk.visible)||showHidden"  ng-class="{disabled:!lnk.exists, buttonflat:lnk.exists, buttonflatdis:!lnk.exists}"   class="btn">{{lnk.ieml}}</a>
                                        </td>

                                        <td>
                                            <table>
                                                <tr> <p  align="left">{{lookupLabels(lnk.ieml).DISP}}</p></tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </md-content>
        </md-tab>

        <md-tab label="GRAPH">
            <md-content class="md-padding">

                <div d3ieml style="width=100%; height=100%"> </div>

            </md-content>
        </md-tab>
    </md-tabs>
    <div>
        <br/><br/>
        <md-button class="md-raised" ng-click="cancelEdit()"> Back </md-button>
    </div>
</div>


